<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
           <b>{{ message }}</b>
        {% endfor %}
    {% endfor %}
    <ul>
        <li><a href="{{ path('categorie_index') }}">Accueil</a></li>
        <li><a href="{{ path('film_create') }}">Ajouter un film</a></li>
    </ul>
        {% block body %}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
